* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    /* 좌우로 중간 */
    justify-content: center; 
    /* 위아래 중간 */
    align-items: center;
    /* 배경 중간위치 및 경로  */
    background: center / cover no-repeat url(./baack.jpeg);
}

.container {
    background: rgba(255, 255, 255, 0.01);
    color: white;
    overflow: hidden;
    border-radius: 10px;
    /* 배경을 투명 수치 */
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);border-right: 1px solid rgba(0, 0, 0, 0.25);border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.calculator {
    /* 세로 만들기 */
    display: grid;
    justify-content: center;
    /* 측정 사이의 공간 분포 */
    align-content: center;
    max-width: 100vw;
    /* 좌우로 펼치기 */
    grid-template-columns: repeat(4, 100px);
    /*  위아래 펼치기 */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* 버튼수정 */
.calculator >button {
    font-size: 3.2rem;
    cursor: pointer;
    border: 1px solid rgba(255, 2555, 255, 0.03);
    outline: none;
    color: white;
    transition: 0.25s;
}

/* 숫자배경 color */
[data-number] {
    transition: 0s;
    background-color: transparent;
}

/* 버튼에 효과 */
.calculator > button:hover {
    transition: 0s;
    background: rgba(255, 255, 255, 0.05);
}

.calculator > button:active {
    background: rgba(0, 0, 0, 0.2);
}

/* 0, AC 크기 조절 */
.span-two {
    grid-column: span 2;
}

/* 연산자 배경 color */
[data-operator], [data-equals] {
    background-color: rgba(255, 72, 0, 0.2);
}

/* 초기화 + 퍼센트 배경 color */
[data-clear], [data-percent] {
    background-color: rgba(255, 255, 255, .1);
}


/* 스크린 조절 */
.screen {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen > .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 2.4rem;
}

.screen > .current-operand {
    color: rgba(255, 255, 255, 1);
    font-size: 4rem;
}