@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Noto Sans KR', 'sans-serif';
    font-size: 15px;
    color: #fff;
    letter-spacing: -0.5px;
    line-height: 100%;
    list-style: none;
    vertical-align: baseline;
    background: transparent;
    transition: all .3s ease-in-out;
}

.bg_video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}


.wrap {
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

/* UI 조절 */
.container {
    position: absolute;
    top: 0;
    left: 30px;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.info {
    width: 50%;
    height: auto;
}




