.hidden {
  display: none;
}

.greeting {
  padding: 0 5px;
  width: calc(100% - 30px);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}

/* 로그아웃 아이콘 */
.btn_logout {
  width: 25px;
  height: 25px;
  background: url(../img/logouts.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}

#login_form input {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 5px;
  width: 150%;
  border-bottom: 1px solid #fff;
}


